@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=DM+Serif+Text:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    background: #cecece;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    background: #fff;
    padding: 1.5rem;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 1px 10px rgba(61, 61, 61, 0.493);
}

h1, h2 {
    text-align: center;
}

h1 {
    font-family: "DM Serif Text", serif;
    margin-bottom: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.541);
}

h2 {
    padding: 10px 0px;
}

#completedh2 {
    border-top: 1px solid #303030;
    padding: 10px 0px;
}

form {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

input, button {
    padding: 0.5rem;
    font-size: 1rem;
}

#taskInput, #taskTime {
    border-radius: 10px;
    border: 1px solid rgb(117, 117, 117);
}

#taskInput:hover, #taskTime:hover {
    background-color: #f3f3f3;
}

#taskInput {
    flex: 1;
}

#taskBtn {
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(117, 117, 117);
    border-radius: 10px;
    cursor: pointer;
}

#taskBtn:hover {
    background-color: rgb(202, 202, 202);
    transform: scale(1.1, 1.1);
    box-shadow: 0 1px 4px rgba(104, 104, 104, 0.514);
}

ul {
    list-style: none;
    margin-bottom: 1rem;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 10px 0px;
    border-radius: 10px;
    border-bottom: 1px solid #ddd;
}

li:hover {
    box-shadow: 0 0px 3px #949494;
}

li.completed span {
    text-decoration: line-through;
}
li.completed {
    opacity: 0.5;
}

li.completed:hover {
    opacity: 1;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.time {
    font-size: 0.8rem;
    color: #666;
}

.actions button {
    margin-left: 0.25rem;
}

.toggle {
    background-color: rgb(255, 255, 255);
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgb(32, 182, 32);
}

.toggle:hover {
    background-color: rgb(32, 182, 32);
    transform: scale(1.1, 1.1);
    box-shadow: 0 1px 5px rgba(53, 52, 52, 0.514);
}

.toggle.completed {
    color: #0000005b;
}

.delete {
    background-color: rgb(255, 255, 255);
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgb(184, 29, 29);
}

.delete:hover {
    background-color: rgb(184, 29, 29);
    transform: scale(1.1, 1.1);
    box-shadow: 0 1px 5px rgba(53, 52, 52, 0.514);
}

.stats {
    border-top: 1px solid #303030;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    font-weight: bold;
}